alembic
click
faker
flask
flask-cors
flask-migrate
flask-sqlalchemy
Werkzeug
gunicorn
honcho
importlib-metadata
importlib-resources
itsdangerous
jinja2
mako
markupsafe
python-dateutil
setuptools
six
sqlalchemy
sqlalchemy-serializer
flask-jwt-extended
flask-session
flask-login
flask-restful
flask-marshmallow
marshmallow-sqlalchemy
flask-wtf
